
.navIcon {
    width: 30px;
    height: 16px;
    position: relative;
    cursor: pointer;
    outline: none;
}

.navIcon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: black;
    border-radius: 1px;
    opacity: 1;
    left: 0;
}

.navIcon span:nth-child(1) {
    top: 0;
}

.navIcon span:nth-child(2) {
    top: 8px;
}

.navIcon span:nth-child(3) {
    top: 16px;
}